@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary
    Text */
    --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);

    /* Background gradient: */
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);

    /* Neutral
    Text */
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);

    /* Dividers */
    --lightGrayishBlue: hsl(240, 5%, 91%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    background: linear-gradient(var(--softViolet), var(--softBlue));
}

.center {
    height: 510px;
    width: 920px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.faq_block {
    min-height: 510px;
    width: 920px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--lightGrayishBlue);
    border-radius: 20px;
}

.block_img {
    width: 100%;
    height: auto;
}

.block_img::after {
    content: '';
    background: transparent url(../images/illustration-box-desktop.svg) no-repeat;
    background-size: cover;
    width: 191px;
    height: 184px;
    position: absolute;
    display: block;
    top: 205px;
    left: -115px;
}

.img_group {
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.img_group::after {
    content: '';
    background: url(../images/illustration-woman-online-desktop.svg) no-repeat;
    background-size: cover;
    width: 472px;
    height: 359px;
    position: absolute;
    display: block;
    top: 70px;
    left: -85px;
}

.img_group::before {
    content: '';
    background: url(../images/bg-pattern-desktop.svg) no-repeat;
    background-size: cover;
    width: 966px;
    height: 945px;
    position: absolute;
    display: block;
    top: -295px;
    left: -575px;
}