@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary
    Text */
    --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);

    /* Background gradient: */
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);

    /* Neutral
    Text */
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);

    /* Dividers */
    --lightGrayishBlue: hsl(240, 5%, 91%);
    --white: hsl(0, 0%, 99%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    background: linear-gradient(var(--softViolet), var(--softBlue));
}

.center {
    height: 510px;
    width: 920px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.faq_block {
    min-height: 510px;
    width: 920px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--white);
    border-radius: 20px;
}

/* img */
.block_img {
    width: 100%;
    height: auto;
}

.block_img::after {
    content: '';
    background: transparent url(../images/illustration-box-desktop.svg) no-repeat;
    width: 191px;
    height: 184px;
    position: absolute;
    top: 205px;
    left: -115px;
}

.img_group {
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.img_group::after {
    content: '';
    background: url(../images/illustration-woman-online-desktop.svg) no-repeat;
    width: 472px;
    height: 359px;
    position: absolute;
    top: 70px;
    left: -85px;
}

.img_group::before {
    content: '';
    background: url(../images/bg-pattern-desktop.svg) no-repeat;
    width: 966px;
    height: 945px;
    position: absolute;
    top: -295px;
    left: -575px;
}

/* content */
.block_content {
    margin-left: 10px;
}

.content_accordion {
    width: 90%;
}

.content_title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 70px 0 40px;
}

.accordion_item {
    margin-bottom: 18px;
    border-bottom: 1px solid var(--lightGrayishBlue);
    position: relative;
}

.item_title {
    color: var(--veryDarkGrayishBlue);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 18px;
    transition: color 0.2s linear;
    user-select: none;
}

.item_title::after {
    content: '';
    background: url(../images/icon-arrow-down.svg) no-repeat;
    background-size: cover;
    width: 10px;
    height: 7px;
    position: absolute;
    top: 4px;
    right: 15px;
    z-index: 1;
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.item_title:hover {
    cursor: pointer;
    color: var(--softRed);
    transition: color 0.2s linear;
}

.title_active {
    font-weight: 700;
    color: var(--veryDarkDesaturatedBlue);
}

.title_active::after {
    transform: rotate(180deg);
}

.item_text {
    color: var(--darkGrayishBlue);
    line-height: 15px;
    margin-bottom: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s, margin-bottom 0.6s ease;
}

.text_active {
    max-height: 90px;
    margin-bottom: 15px;
}

/* media */
@media (max-width: 1074px) {
    .center {
        height: 535px;
        width: 330px;
    }

    .faq_block {
        min-height: 535px;
        width: 330px;
        display: block;
    }

    .block_img::after {
        display: none;
    }

    .img_group {
        overflow: visible;
    }

    .img_group::after {
        background: url(../images/illustration-woman-online-mobile.svg) no-repeat;
        width: 266px;
        height: 196px;
        top: -110px;
        left: 20px;
    }

    .img_group::before {
        background: url(../images/bg-pattern-mobile.svg) no-repeat;
        width: 240px;
        height: 104px;
        top: 0;
        left: 45px;
    }

    .content_title {
        text-align: center;
        margin: 0 0 30px;
    }

    .block_content {
        position: relative;
        margin-left: 0;
        padding-top: 130px;
    }

    .content_accordion {
        margin: 0 auto;
    }

    .item_title {
        font-size: 0.9rem;
        width: 95%;
    }
}
