@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary
    Text */
    --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);

    /* Background gradient: */
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);

    /* Neutral
    Text */
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);

    /* Dividers */
    --lightGrayishBlue: hsl(240, 5%, 91%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.bg {
    height: 100%;
    background: linear-gradient(var(--softViolet), var(--softBlue));
}

.center {
    height: 510px;
    width: 920px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}